<ion-header>
  <ion-toolbar>
    <ion-title>Log</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/user-account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="post | async as postData">
    <ion-card-content>
      <p>{{ postData.author }}</p>
      <p>{{ postData.date | date: "MMMM dd yyyy"}}</p>
      <p>{{ postData.skillUsed }}</p>
      <p>{{ postData.desc }}</p>
      <p>{{ postData.effect }}</p>
    </ion-card-content>
    
  </ion-card>
</ion-content>
