<ion-header>
    <ion-toolbar>
      <ion-title>Module 3: Energy Management</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/modules-list"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <div class="ion-text-wrap">
          <h2 class="ion-text-center"><b>Energy Management</b></h2>
          <div class="ion-text-center">
            <br/><br/>
            <iframe src="https://www.youtube.com/embed/ZhNshVfn6m0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br/>
            <a href="https://www.youtube.com/watch?v=ZhNshVfn6m0">Module 3 Video</a>
            <br/><br/>
          </div>

          <!--SECTION 3.1-->
        <ion-button fill="outline" expand="block"(click)="hide1()"><b>3.1 Negative Impact of Adrenaline</b>
            <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
        </ion-button>
        <div *ngIf="hideMe1">
        
        <h3><b>3.1 Negative Impact of Adrenaline</b></h3>
        <ul>
          <li>
            <p>
              Adrenaline can be triggered any time a situation is perceived as dangerous.  This can be triggered by the “top-down brain” engaged in worry, or an automatic response to the “bottom-up brain” perceiving a threat.
            </p>
          </li>

          <li>
            <p>
              Heightened adrenaline levels restrict blood flow to the prefrontal cortex, impairing both cognitive functioning and attention (i.e., narrowing).
            </p>
          </li>

          <li>
            <p>
              If an individual is flooded by adrenaline during an “emotional hijack,” they are only able to focus on the perceived threat (i.e., to fight or flee).
            </p>
          </li>

          <hr class="blue-border" />
            <p style="color:#006298">
              <i>
                <b>Reflection:</b> Consider a past performance (i.e., in any endeavor) when you experienced stress.  Did you experience physiological or psychological effects, and if so, what were they?  What were you focused on and was it relevant to the task you were doing?  Were there any effects on your technical performance of that task, and if so, what were they specifically? Did you try to calm yourself in that moment?  What worked or didn’t work?
              </i>
            </p>
          <hr class="blue-border" />

            <li>
              <p>
                Learning techniques to manage your physiological state is a straightforward process, which utilizes the top-down brain.  
              </p>
            </li>

            <li>
              <p>
                Conversely, learning to adjust your emotions to achieve your unique Ideal Performance State requires a bottom-up neurological process that is developed through experiential adjustment and fine-tuning.  
              </p>
            </li>

            <li>
              <p>
                While this module may provide you with generalizable techniques and suggestions that can help you achieve your IPS, implementing these techniques as habits for performance will require experimentation and practice.
              </p>
            </li>
        </ul>
      </div>

      <!--SECTION 3.2-->
    <ion-button fill="outline" expand="block"(click)="hide2()"><b>3.2 Emotional Regulation</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
    </ion-button>
    <div *ngIf="hideMe2">
        <h3><b>3.2 Emotional Regulation</b></h3>

        <ul>
          <li>
            <p>
              Emotional regulation processes exist on a continuum from explicit and controlled regulation to implicit, automatic regulation.
            </p>
          </li>

          <li>
            <p>
              Your goal is to develop regulation processes that are at first conscious, then conditioned, so that your self-regulation becomes unconscious and automatic under high pressure charged situations.
            </p>
          </li>

          <li>
            <p>
              For optimal performance in stressful and high-pressure situations, you want to condition yourself to perform a trigger that will automatically begin to calm your physiology and shift attention to an optimal target.
            </p>
          </li>
        </ul>
      </div>

      <!--SECTION 3.3-->
    <ion-button fill="outline" expand="block"(click)="hide3()"><b>3.3 Centering</b>
      <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
    </ion-button>
    <div *ngIf="hideMe3">
        <h3><b>3.3 Centering with Rapid Relaxation</b></h3>

        <ul>
          <li>
            <p>
              “Centering” is a process that adjusts both your physiology to the optimal level and balances (or centers) your focus and emotions to your Ideal Performance State. 
            </p>
          </li>

          <li>
            <p>
              Here are the most noticeable physiological responses to adrenaline: Increased blood pressure and heart rate, shallow and rapid breathing, decreased circulation to the skin, urge to urinate, and sweating.  Out of these responses, you can voluntarily control your breathing, which can ultimately help you counter an adrenaline surge and achieve a sense of calm.
            </p>

            <ul>
              <p><b>Step 1 - Trigger:</b></p>

              <li>
                <p>
                  An optimal trigger is distinct, yet not disruptive, and can be executed easily in the midst of a performance to counter the involuntary responses to adrenaline and begin the process of physiological calming.
                </p>
              </li>

              <li>
                <p>
                  <b>
                    Recommended technique: "Trigger Breath"
                  </b>
                </p>
              </li>

              <li>
                <p>
                  Take a deep breath and exhale.  Take another deep breath and this time, pause at the end of the exhale.  Now exhale all your air with a push and tighten your diaphragm.  Repeat the entire process once again in one fluid motion with a deep breath, exhale, and force all the air out with a push like you are blowing out birthday candles, and tighten your diaphragm.
                </p>
              </li>

              <img src="../../../assets/module_pictures/3.3-1.png" />
              <br/>

              <li>
                <p>
                  <b>Practice</b>
                </p>
              </li>

              <p><b>Step 2 - Belly Breathing:</b></p>

              <li>
                <p>
                  As previously discussed, one physiological response to adrenaline is rapid, shallow breaths inside your rib cage.
                </p>
              </li>

              <li>
                <p>
                  Counter this response by breathing long and slow, letting the airflow to the bottom of your lungs and then gradually expand (think of how water fills up a water balloon).
                </p>
              </li>

              <img src="../../../assets/module_pictures/3.3-2.png" />
              <br/>

              <li>
                <p>
                  <b>Practice belly breathing.</b>
                </p>
              </li>

              <li>
                <p>
                  <b>Practice your trigger breath, followed by long and slow belly breathing.</b>
                </p>
              </li>

              <p><b>Step 3 - Rhythm:</b></p>

              <li>
                <p>
                  In order to ensure that you are countering the physiological response to adrenaline, it’s important to have a nice, slow breathing rhythm.
                </p>
              </li>

              <li>
                <p>
                  Inhale for a slow 5 count; pause; purse your lips, and exhale through your lips for a slow 7 count.
                </p>
              </li>

              <img src="../../../assets/module_pictures/3.3-3.png" />

              <li>
                <p>
                  <b>Practice maintaining this breathing rhythm.</b>
                </p>
              </li>

              <li>
                <p>
                  <b>Practice your trigger breath, followed by long, slow, and rhythmic belly breathing.</b>
                </p>
              </li>

              <p><b>Step 4 - Focus:</b></p>

              <li>
                <p>
                  Lastly, you want to shift your attention to a bottom-up process where you are quietly absorbed in a sensation of mindful awareness, in the moment, focused without thinking.
                </p>
              </li>

              <li>
                <p>
                  As you breathe deeply, center your awareness on where your body rises and falls with each breath.
                </p>
              </li>

              <img src="../../../assets/module_pictures/3.3-4.png" />
              <br/>

              <li>
                <p>
                  Further focus your attention by counting to ten with the rhythm of each breathe. 1 for the rise, 2 for the fall, 3 for the rise, 4 for the fall…
                </p>
              </li>

              <li>
                <p>
                  After you regain your center but before returning to your performance, select a cue word to say silently to yourself as you exhale.  This word is a mantra, not a conversation (e.g., “center”, “calm”, “showtime”).  As you say it silently, your cue word occupies your internal auditory channel, “jamming” potential self-talk and discouraging thinking.  It is critical to associate your cue word with the bottom-up process of centering, as it can become another trigger to help you automatically shift your attention to your target IPS.
                </p>
              </li>

              <li>
                <p>
                  <b>Quick hitter technique:</b>
                </p>

                <ul>
                  <li>
                    <p>Trigger breath</p>
                  </li>

                  <li>
                    <p>Deep, cleansing breath</p>
                  </li>

                  <li>
                    <p>Repeat mantra</p>
                  </li>

                  <li>
                    <p>Refocus</p>
                  </li>
                </ul>
              </li>

              <li>
                <p>
                  <b>
                    Continue to practice on your own and develop this habit for performance (close your eyes so there are no external visual distractions).
                  </b>
                </p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      
      <!--SECTION 3.4-->
      <ion-button fill="outline" expand="block"(click)="hide4()"><b>3.4 Tips for Centering</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe4">
        <h3><b>3.4 Tips for Centering</b></h3>
        <ul>
          <li>
            <p>
              During the initial phase, make certain to practice your complete routine (including the trigger breath) and stay with the process until you achieve your desired emotional state.
            </p>
          </li>

          <li>
            <p>
              Practice your routine in “low challenge” situations with no distractions until you can calm your physiology and shift your attention to the quiet, calm sensation of being centered.  After you succeed at achieving your desired emotional state in these low challenge situations, increase the challenge by adding distractions (e.g., radio, television, other people present).
            </p>
          </li>

          <li>
            <p>
              A common mistake is practicing only in highly challenging situations.  You are likely to be unsuccessful and frustrated, and may condition a stressful response to your trigger.
            </p>
          </li>

          <li>
            <p>
              Following skill mastery, use your routine proactively in performance situations.  Center prior to starting, anytime you experience frustration or tension, and immediately following a loss of emotional control or focus.
            </p>
          </li>

          <li>
            <p>
              This technique can offer the greatest benefits to you if you make certain to integrate triggers, cues, and focus into your routine every time you use it.
            </p>
          </li>
        </ul>
      </div>

      <!--section 3.5-->
      <ion-button fill="outline" expand="block"(click)="hide5()"><b>3.5 Tips for Raising Energy Levels</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe5">
        <h3><b>3.5 Tips for Raising Energy Levels</b></h3>

        <ul>
          <li>
            <p>
              There are times when a person’s energy level is too low and needs to be raised for optimal performance.  
            </p>
          </li>

          <li>
            <p>
              You can accomplish this by doing actions that accompany increased adrenaline: take a serious of short, shallow, rapid breaths, focus your attention externally and widen your eyes.  Also, much like the relaxation routine you practiced, it may be helpful to identify a cue word that can act as another trigger to raise your energy and reach your target IPS. 
            </p>
          </li>
        </ul>
      </div>


  