<ion-header>
    <ion-toolbar>
      <ion-title>Module 6: Refocusing</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/modules-list"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <div class="ion-text-wrap">
        <h2 class="ion-text-center"><b>Refocusing</b></h2>
        <div class="ion-text-center">
          <br/><br/>
          <iframe src="https://www.youtube.com/embed/R9N75vWZZwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br/>
          <a href="https://www.youtube.com/watch?v=R9N75vWZZwQ">Module 6 Video</a>
          <br/><br/>
        </div>
<!--SECTION 6.1-->
        <ion-button fill="outline" expand="block"(click)="hide1()"><b>6.1 Refocusing</b>
          <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
        </ion-button>
        <div *ngIf="hideMe1">
          <h3><b>6.1 Refocusing</b></h3>
          <ul>
            <li>
              <p>
                Refocusing refers to developing explicit strategies to redirect attention to the essential elements for situations in which attention goes “off target”.
              </p>
            </li>
            <li>
              <p>
                By developing refocusing strategies, a person can prepare to deal with any situation that might impair performance.
              </p>
            </li>
            <li>
              <p>
                Research and training with elite athletes and military personnel affirm that what happens to you is not as important as how you <i>react</i> to what happens to you.
              </p>
            </li>  
            <li>
              <p>
                Optimal performance requires total focus on the task at hand and attention on what optimizes your probability of success for that exact moment in time.
              </p>
            </li>
          </ul>
        </div>
<!--SECTION 6.2-->
        <ion-button fill="outline" expand="block"(click)="hide2()"><b>6.2 Refocusing Routine</b>
          <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
        </ion-button>
        <div *ngIf="hideMe2">
          <h3><b>6.2 Developing a Refocusing Routine</b></h3>
            <ul>
              <li>
                <p>
                  Effective refocusing strategies require using the top down brain to initially develop a strategy, and then the bottom up brain to practice and automate the process to the point that it becomes a routine.
                </p>
              </li> 
            </ul>
        </div>
<!--SECTION 6.3-->
        <ion-button fill="outline" expand="block"(click)="hide3()"><b>Exercise: Refocusing Plans</b>
          <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
        </ion-button>
        <div *ngIf="hideMe3">
          <h3><b>Exercise: Developing refocusing plans (“If-Then”)</b></h3>  
          <ul>
            <li>
              <p>
                In the “IF” column of the exercise below, list every situation or circumstance that has bothered you or interfered with your surgical or FLS training performance in the past. Underneath these past situations (in the same column), list any situations that you might encounter in the future that have the potential for impairing your performance. Draw upon any information you have heard or seen where colleagues have been distracted. If you have any concerns about performing a surgical procedure, this is the time to claim them and name them.
              </p>
            </li>
            <li>
              <p>
                Next, you want to plan a strategy for each situation that you have identified. This is a series of “If-Then” scenarios that you can do to navigate back on target and to your Ideal Performance State. Your strategy should include both specific physical actions and mental techniques. The physical actions typically are very task and situation specific. The mental techniques are typically one or more of the 3 “adjusting skills” that we have discussed: centering with rapid relaxation, attention/thought management, and imagery. Whenever possible, integrate triggers
                and cues with your plan.
              </p>
            </li>
            <li>
              <p>
                This is your “Plan A”. Next, repeat the process to detail a Plan B or fallback option in the event that Plan A is not fully effective. Again, integrate triggers and cues. It is important to custom tailor your strategies to your language, habits, strengths and weaknesses. Typically, the more detailed the strategy, the more effective it will be. Devise both a Plan A and Plan B for each potential situation you have identified.
              </p>
            </li>
          </ul>
          <div>
            <b>If..</b>
            <ul>
              <li>
                <b>Example:</b>
                I can’t loop the suture over the ND instrument to create a surgeon’s knot
              </li>
            </ul>
          </div>
          <table style=" border:black;">
            <tr>
              <th>Then (Plan A)</th>
              
            </tr>
      
            <tr>
              <td>
                <ul>
                  <li>
                      Aware: that attention is off target
                  </li>
                  <li>
                      Interrupt: with centering/rapid relaxation
                  </li>
                  <li>
                      Gently bring attention back to:
                      
                      <ul>
                        <li>
                          Keeping the tip of the suture needle faced down and away from the penrose
                        </li>

                        <li>
                          Maintaining some string tension (feel and see the tension)
                        </li>

                        <li>
                          Then loop around ND instrument (moving both hands slightly)
                        </li>
                      </ul>
                  </li>
                  <li>
                      Cues:
                      
                      <ul>
                        <li>
                          Trigger breath
                        </li>

                        <li>
                          "Center"
                        </li>

                        <li>
                          Think about rhythm of breathing
                        </li>

                        <li>
                          Feel and see needle orientation in D instrument (down and away)
                        </li>

                        <li>
                          Feel and see tension on string
                        </li>
                      </ul>
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
                <th>Then (Plan b)</th>  
            </tr>
            
            <tr>
              <td>
                  <ul>
                    <li>
                        Create a mental image of action plan for creating the knot.
                        
                        <ul>
                          <li>
                            Imagine in slow motion
                          </li>

                          <li>
                            Imagine in first person
                          </li>
                        </ul>
                    </li>
                    <li>
                        Interrupt: with centering/rapid relaxation
                    </li>
                    <li>
                        Start image from when I grasp suture with D hand to begin the knot through when I grasp the suture tail and pull the knot through.
                    </li>
                    <li>
                        Cues:
                        
                        <ul>
                          <li>
                            "Slow down"
                          </li>

                          <li>
                            "Action plan"
                          </li>

                          <li>
                            Feel and hear the click of the needle driver and the sensation of grasping the needle securely
                          </li>

                          <li>
                            See the ND instrument create a pivot on the suture string and the feeling of tension when pulling the suture string through the tissue to get an appropriate tail length
                          </li>

                          <li>
                            With tip of needle facing down, see how I place ND instrument on top of suture string and move ND instrument against string tension to create the two loops
                          </li>

                          <li>
                            Feel and hear the click of the ND instrument grasping suture tail and feel the pull of the D instrument on string to pull loops over ND instrument
                          </li>

                          <li>
                            Feel tension when I pull both hands simultaneously to create knot  
                          </li>
                        </ul>
                    </li>
                  </ul>
                </td>
            </tr>
          </table>
      
          <ul>
            <li>
              <p>
                Once you’ve identified your refocusing strategies (both Plan A and Plan B), practice those strategies to the point of automation where a distracting event will automatically trigger the associated refocusing routine (think back to the “foreign language tip” discussed in Module 4.)
              </p>
            </li> 
            <li>
              <p>
                Begin by using imagery and mentally rehearse experiencing the situation and successfully navigating back on target.
              </p>
            </li> 
            <li>
                <p>
                  After you have successfully practiced the situation and your refocusing routine with imagery, look for simulated situations to practice the routine. After successfully mastering the process in simulated situations, and aiming to be truly proficient, seek out opportunities to practice the process in real life situations.
                </p>
              </li>
          </ul>
        </div>
<!--SECTION 6.3-->
          <ion-button fill="outline" expand="block"(click)="hide4()"><b>6.3 The Red Zone</b>
            <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
          </ion-button>
          <div *ngIf="hideMe4">
          <h3><b>6.3 The Red Zone</b></h3>
            <ul>
              <li>
                <p>
                  “Inverted U”- At low levels of anxiety or tension, performance tends to be relatively low, as a person may feel tired, flat, bored, or not bring sufficient intensity to the performance situation. As anxiety and tension increase, performance also increases, up to a point where there is a balance between optimal anxiety and optimal performance. If tension and anxiety increase beyond this optimal level, performance begins to gradually decline. This model has strong face validity for people familiar with performance, and has been widely accepted for several decades.
                </p>
              </li>
              <li>
                <p>
                  “Catastrophe Model”- This model concurs with the initial aspects of the “Inverted U” hypothesis and that as anxiety increases beyond the optimal level there is initially a gradual decline. However, if anxiety continues to increase, there is a certain point where the decline is no longer gradual, but plummets. This is the point of catastrophe where an individual is flooded with fear-induced adrenaline, and cognitively flooded with thoughts of fear and disaster. This is what is referred to as an “emotional hijack”.
                </p>
              </li>
              <li>
                <p>
                  Dr. Ken Ravizza describes the optimal level of performance as the “Green Zone”. The
                  performer is fully engaged, focused, and in their Ideal Performance State. Refocusing strategies are designed to help a person navigate from circumstances where tension is less than optimal - the Yellow Zone – back to the Green Zone. Ideally, your performances will be in the Green Zone, and you will rapidly navigate any temporary fluctuations into the Yellow Zone back to your optimal performance level. However, if you ever do experience a catastrophe where you fall in the Red Zone, you want to know how to get back on track for performance.
                </p>
              </li>  
              <li>
                <p>The key to navigating out of the Red Zone is the 3 Rs:</p>

                  <ul>
                    <li>
                      <b>Relax physically</b> to counter the impact of adrenaline;
                    </li>
                    
                    <li>
                      <b>Regroup mentally</b> to slow the cognitive flooding and regain perspective
                    </li>

                    <li>
                      <b>Reactivate gradually.</b> Experienced skiers know that after taking a serious fall, it is best to center oneself, and gradually resume the descent, focusing upon regaining a sense of balance and rhythm prior to picking up speed and attempting to reenter their “Green Zone”.  The same is true in surgery: reactivate gradually by slowing down, and focus upon reestablishing a sense of balance and rhythm.
                    </li>
                  </ul>
              </li>
            </ul>
          
      </div>
  </div>
  
  </ion-content>
  