<ion-header>
    <ion-toolbar>
      <ion-title>Module 0: Introduction</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/modules-list"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="ion-text-wrap">
      <h2 class="ion-text-center"><b>Introduction and Overview to Mental Skills Training</b></h2>
      <div class="ion-text-center">
        <br/><br/>
        <iframe src="https://www.youtube.com/embed/yS2wT9SuafU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br/>
        <a href="https://www.youtube.com/watch?v=yS2wT9SuafU">Module 0 Video</a>
        <br/><br/>
      </div>

      <ion-button fill="outline" expand="block"(click)="hide1()"><b>0.1 Introduction</b>
          <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
        <div *ngIf="hideMe1">
            <h3><b>0.1 Introduction</b></h3>
            <ul>
              <li>
                <p>
                  While a minor amount of stress may help mobilize an individual’s attention and energy to execute a task, an excessive amount of stress can clearly have a significantly negative impact on performance and increase the chance of performance errors.
                </p>
              </li>
              <li>
                <p>
                  In the operating room, surgeons frequently experience small but continuous amounts of stress, which accumulate and can lead to more significant performance detriments.
                </p>
              </li>
              <li>
                <p>
                  There are also occasions when surgeons’ stress levels become excessive, so they are susceptible to a variety of performance-related impediments.
                </p>
              </li>
              <hr class="blue-border" />
                <p style="color:#006298;">
                  <i>
                    <b>Reflection:</b> Think back to any past performance situation when you felt overwhelmed due to stress. How did you perform? What were you focused on?
                    <br><br/>
                    <b>Consider the complex nature of different surgical procedures. </b>There is always inherent difficulty with performing these procedures due to their intricate technical aspects, but what are additional sources of stress (e.g., patient-related complications) that may have a detrimental effect on performance?
                  </i>
                </p>
              <hr class="blue-border" />
              <li>
                <p>
                  Surgery requires not only acquiring knowledge, skills and abilities; but also being able to <i>perform</i> those skills and abilities on demand.
                </p>
              </li>
              <li>
                <p>
                  Reduce the variability of your performance so that your average is consistently excellent. You can accomplish this by increasing those things under your control that improve your average, and develop strategies to address those things not under your control that reduce your average. 
                </p>
              </li>
              <hr class="blue-border" />
                <p style="color:#006298">
                  <i>
                      <b>Reflection:</b> What are the things under your control that can impact your surgical performance?
                      <br/><br/>
                      What are the things not under your control that can impact your normal surgical performance?
                  </i>
                </p>
              <hr class="blue-border" />  
            </ul>
      </div>

<!-- SECTION 0.2 -->
      <ion-button fill="outline" expand="block" (click)="hide2()"><b>0.2 Mental Skills</b>
          <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe2">
          <h3><b>0.2 Mental Skills</b></h3>
          <ul>
            <hr class="blue-border" />
              <p style="color:#006298">
                <i>
                  <b>Reflection:</b>Take a moment to think about a specific time that you have experienced your best performance where you had a high level of proficiency and had to perform on demand. It may have been a sporting event, an experience from the performing arts, public speaking or a class presentation – any situation where you had to perform on demand, and felt as though you performed at the top of your ability. It is important to choose a specific memory, so if you have several examples, select just one. Briefly describe this specific experience when you performed your best. For that specific event, what was the difference that made your performance exceptional?
                </i>
              </p>
            <hr class="blue-border" /> 
            <li>
              <p>
                In psychology, “mental skills” refers to “the principles and techniques addressing the psychological aspects of human performance to help people consistently perform in the upper range of their abilities and more thoroughly enjoy the performance process.”
              </p>
            </li> 
            <li>
              <p>
                Successful performance requires both physical and mental skills. Mental skills are involved in developing and mastering knowledge, skills, and abilities (KSA’s) related to performance, as well as aiding in the execution of KSA’s, consistently and reliably.
              </p> 
            </li> 
            <li>
              <p>
                Mental skills optimize the mind-body connection during performance by managing attention, thoughts and emotions. These skills help <i>enhance</i> performance over an established baseline, not simply remediate a performance decline or
                problem situation.
              </p>
            </li>
            <hr class="blue-border" /> 
              <p style="color:#006298">
                <i>
                  <b>Reflection:</b> What do you think we mean by “mind-body connection”? Have you experienced this before?  
                </i> 
              </p> 
            <hr class="blue-border" />    
          </ul>
      </div>
<!--SECTION 0.3-->
      <ion-button fill="outline" expand="block" (click)="hide3()"><b>0.3 Mental Skills Curriculum</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe3">
          <h3><b>0.3 Mental Skills Curriculum</b></h3>  
          <ul>
            <li>
              <p>
                The goal for this curriculum is to integrate mental skills as part of your surgical simulation training and to help you develop strategies to address those factors not under your control that can cause stress and impair performance. 
              </p>
            </li>
            <li>
              <p>
                In addition to viewing the seven modules in the curriculum (via smart phone, computer or other electronic device) and completing exercises in your workbook, you will discuss these concepts with a mental skills trainer who will customize these techniques to your unique skills and strengths. You will also get the opportunity to immediately apply these mental skills as you practice the “Fundamentals of Laparoscopic Surgery” tasks.
              </p> 
            </li>
            <hr class="blue-border" />
              <p style="color:#006298">
                <i>
                  <b>Reflection:</b> Consider how you might already be using mental skills to enhance your performance (in any endeavor). What techniques do you use? What situations do you use them in? How do they benefit your performance? In what ways could you improve the effectiveness of these techniques for you?
                </i>  
              </p> 
            <hr class="blue-border" />
          </ul>
      </div>

      </div>
  </ion-content>
  <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button routerLink="/modules-list" >
        <ion-icon name="arrow-dropright"></ion-icon>
        <ion-label >Modules</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/user-account">
        <ion-icon name="book"></ion-icon>
        <ion-label >Log</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/profile-page">
        <ion-icon name="person"></ion-icon>
        <ion-label >Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>