<ion-header>
  <ion-toolbar>
    <ion-title>Module 1: The Science of Attention, Focus, and Concentration</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-wrap">
    <h2 class="ion-text-center">The Science of Attention, Focus, and Concentration</h2>
    <h3>1.1 Key to Performance: Focus and Attention</h3>
    <ul>
      <li>
        <p>Focus is a central key to performance excellence.</p>
      </li>

      <li>
        <p>Success in any endeavor is dependent on:
          <br/>1) Identifying the elements essential for success;
          <br/>2) Maintaining attention on the essential elements; and
          <br/>3) Ignoring the distractions.</p>
      </li>

      <li>
        <p>
          In the stimulus rich environment of the O.R. attentional selectivity is critical because our attention capacity or working memory is limited.
        </p>
      </li>

      <li>
        <p>
          Working memory is a cognitive system that temporarily stores information so that it can be accessed quickly, integrated with other information, or otherwise manipulated.
        </p>
      </li>

      <li>
        <p>
          Working memory can aid one’s ability to focus on task-relevant information and ignore distractions.
        </p>
      </li>

      <li>
        <p>
          <i>
            <b>Reflection:</b> What are some situations in surgery that can overload your working memory?
          </i>
        </p>
      </li>

      <li>
        <p>
          Cognitive overload may negatively influence performance in a number of ways:
          <br/>1. Increased distractibility and decreased sensitivity to relevant information;
          <br/>2. Ability to process information is slowed, increasing our decision making rate;
          <br/>3. Capacity for verbal information is significantly decreased; and
          <br/>4. Limited amount of new information stored in long-term memory.
        </p>
      </li>

      <li>
        <p>
          <i>
            <b>Reflection: </b> Select a specific performance situation and identify the essential elements for success, and the most common nonessential distractions that you are likely to encounter. Feel free to consider any performance situation, or a specific phase or task within a complex procedure.
          </i>
        </p>
      </li>
    </ul>

    <h3>1.2 What's So Hard about Focus and Attention?</h3>

    <ul>
      <li>
        <p>
          Different tasks require different focus. Optimal performance requires knowing <b>where to focus</b>, <b>when to shift focus<b/>, and <b>how to shift focus and maintain attention</b>. This becomes particularly challenging when emotions become intense.
        </p>
      </li>
    </ul>

    <h3>1.3 Understanding Focus and Attention</h3>
    <ul>
      <li>
        <p>
          The key is to make certain that your attention is on what optimizes your performance for the task at hand.
        </p>
      </li>

      <li>
        <p>
          Attention has two dimensions: it has direction – either inward (to yourself) or outward (to your environment); and width – where attention can be either narrow or broad. Different tasks require different focus of attention.
        </p>
      </li>
    </ul>




  </div>
</ion-content>