<ion-header>
    <ion-toolbar>
      <ion-title>Module 5: Imagery</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/modules-list"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <div class="ion-text-wrap">
        <h2 class="ion-text-center">Imagery</h2>
        <h3>5.1 What is Imagery?</h3>
        <ul>
          <li>
            <p>
              Mental Rehearsal 
            </p>
          </li>
          <li>
            <p>
              Mental Pratice
            </p>
          </li>
          <li>
            <p>
              "Visualization"
            </p>
          </li> 
        </ul>
        <ul style="padding-left:60px;">
          <li>
            <p>
              More than visual recall
            </p>
          </li>
          <li>
            <p>
              Uses entire range of senses
            </p>
          </li>
        </ul>
  
        <ul>
          <li>
            <p>
                Imagery is “a process by which sensory experiences are stored in memory and internally
                recalled in the absence of external stimuli”(1). Effective imagery uses the entire range of
                sensory experiences, including kinesthetic and tactile sensations, smells, sounds and
                emotions. 
            </p>
          </li>
          <li>
            <p>
              Imagery has three dimensions: vividness, perspective, and controllability.
            </p>
          </li>
          <li>
            <p>
              Vividness refers to the realism and clarity of the imagined experience, which involves
              imagining multiple senses (e.g., visual, kinesthetic, auditory, olfactory, etc.) that creates an
              experience that is comparable to the actual situation.
            </p>
          </li> 
          <li>
            <p>
              Perspective refers to the visual representation of the imagined experience. It can vary
              between an internal perspective (i.e., what the performer experiences) or an external
              perspective (i.e., an observer’s experience while viewing the performance from either a
              “third person” or “second person” perspective).
            </p>
          </li>
            
        </ul>
          
      </div>
  </ion-content>
  