<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logs
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon size="undefined" name="add-outline" style="padding-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title size="large">Previous Logs</ion-title>  
  <ion-card>
    <ion-title>Occurance</ion-title>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id est vel ipsum tincidunt eleifend. 
        Donec vel consequat nisi. Aliquam quis elementum nisi. Aenean vel ante id augue vehicula ullamcorper. 
        Nulla accumsan est sed odio blandit pellentesque. Sed pellentesque metus et laoreet aliquet. 
        Fusce maximus enim urna, vel semper lorem dictum nec. Donec malesuada euismod lectus, varius vulputate ex 
        euismod gravida. In sed blandit turpis. Sed pulvinar fermentum lacus, vitae elementum dolor commodo ac. 
      </p>
    <ion-title>Skill Used</ion-title>
      <p>Skill</p>
    <ion-title>Effects of Using the Skill</ion-title>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id est vel ipsum tincidunt eleifend. 
        Donec vel consequat nisi. Aliquam quis elementum nisi. Aenean vel ante id augue vehicula ullamcorper.
      </p>
  </ion-card>
  <ion-card>
      <ion-title>Occurance</ion-title>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id est vel ipsum tincidunt eleifend. 
          Donec vel consequat nisi. Aliquam quis elementum nisi. Aenean vel ante id augue vehicula ullamcorper. 
          Nulla accumsan est sed odio blandit pellentesque. Sed pellentesque metus et laoreet aliquet. 
          Fusce maximus enim urna, vel semper lorem dictum nec. Donec malesuada euismod lectus, varius vulputate ex 
          euismod gravida. In sed blandit turpis. Sed pulvinar fermentum lacus, vitae elementum dolor commodo ac. 
        </p>
      <ion-title>Skill Used</ion-title>
        <p>Skill</p>
      <ion-title>Effects of Using the Skill</ion-title>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id est vel ipsum tincidunt eleifend. 
          Donec vel consequat nisi. Aliquam quis elementum nisi. Aenean vel ante id augue vehicula ullamcorper.
        </p>
    </ion-card>
</ion-content>
