// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary - IU Crimson **/
  --ion-color-primary: #990000;
  --ion-color-primary-rgb: 153, 0, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #990000;
  --ion-color-primary-tint: #990000;

  /** secondary - IU Cream **/
  --ion-color-secondary: #EDEBEB;
  --ion-color-secondary-rgb: 237, 235, 235;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #EDEBEB;
  --ion-color-secondary-tint: #EDEBEB;

  /** tertiary - IU Mahogany **/
  --ion-color-tertiary: #4A3C31;
  --ion-color-tertiary-rgb: 73, 56, 40;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4A3C31;
  --ion-color-tertiary-tint: #4A3C31;

  /** success - IU Success **/
  --ion-color-success: #009933;
  --ion-color-success-rgb: 0, 60, 20;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #009933;
  --ion-color-success-tint: #009933;

  /** warning - IU Moderate **/
  --ion-color-warning: #F5BB17;
  --ion-color-warning-rgb: 96, 73, 9;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #F5BB17;
  --ion-color-warning-tint: #F5BB17;

  /** danger - IU Extreme **/
  --ion-color-danger: #BD0000;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #BD0000;
  --ion-color-danger-tint: #BD0000;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: 'Benton Sans Regular';
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: var(--ion-color-secondary);
}
