<ion-header>
    <ion-toolbar>
      <ion-title>Module 2: Action Plans (Goal Setting)</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/modules-list"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h2 class="ion-text-center"><b>Action Plans (Goal Setting)</b></h2>
    <div class="ion-text-center">
      <br/><br/>
      <iframe src="https://www.youtube.com/embed/sqiW8FYglq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br/>
      <a href="https://www.youtube.com/watch?v=sqiW8FYglq8">Module 2 Video</a>
      <br/><br/>
    </div>
      <!--SECTION 1-->
          <ion-button fill="outline" expand="block"(click)="hide1()"><b>2.1 Introduction</b>
            <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
          </ion-button>
          <div *ngIf="hideMe1">
            <h3><b>2.1 Introduction</b></h3>
              <ul>
                <li>
                  <p>Your action plan is your guide for what you want to focus your attention on at any given point in time or circumstance while performing. Focus is a process that involves an <i>individual</i> performing a task, <i>attention</i> and a <i>target</i>. For optimal performance, your target will always be what you ideally want to <i>achieve</i>, rather than what you want to avoid.
                  </p>
                </li>
              </ul>
          
              <img src="../../../assets/module_pictures/2.1-1.jpg" />
          
              <ul>
                <li>
                  <p>Clear, effective goals impact both focus and effort. They serve as guides in making choices during performance, and provide feedback as to progress and performance.</p>
                </li>
              </ul>
          </div>
<!--SECTION 2.2-->          
          <ion-button fill="outline" expand="block"(click)="hide2()"><b>2.2 Choosing Effective Goals</b>
            <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
          </ion-button>
          <div *ngIf="hideMe2">
            <h3><b>2.2 Choosing Effective Goals</b></h3>
              <ul>
                  <li>
                    <p>There are 3 types of goals: outcome goals, performance goals and process goals.</p>
          
                    <ul>
                      <li>
                        <p>Outcome goals tend to be future oriented; they direct energy and effort towards something that a person aspires to achieve.</p>
                      </li>
          
                      <li>
                        <p>While outcome goals can be beneficial for long-term planning, they are not particularly helpful for your action plan.</p>
                      </li>
          
                      <li>
                        <p>Outcome goals are not necessarily valid feedback upon which to base one’s
                          confidence, since outcomes are always contingent upon a variety of factors (many of which are beyond one’s control).</p>
                      </li>
          
                      <li>
                        <p>Performance goals compare one’s performance against a standard.</p>
                      </li>
          
                      <li>
                        <p>This is an improvement over outcome goals; however, it is still not necessarily a valid reflection of ability, since performance goals are typically set based upon ideal conditions. If conditions are less than ideal, then those goals are unrealistic.</p>
                      </li>
          
                      <hr class="blue-border" />
                        <p style="color:#006298">
                          <i>
                            <b>Reflection: </b> What are some factors that may influence the time it takes to complete a laparoscopic cholecystectomy or tubal ligation?
                          </i>
                        </p>
                      <hr class="blue-border" />
          
                      <li>
                        <p>The most effective goals for an Action Plan and upon which to base your confidence are process goals. Process goals focus on those small actions that are under one’s control during the moment of performance that are the building blocks for success.</p>
                      </li>
          
                      <li>
                        <p>If one successfully achieves his or her process goals, they will have the best possible performance under whatever conditions are available, and have the best possible outcome upon completion of the performance.</p>
                      </li>
          
                      <li>
                        <p>The most effective process goals are <b>SMART</b> goals. They are:</p>
          
                        <ul>
                          <li><b>S</b>pecific,</li>
                          <li><b>M</b>easurable,</li>
                          <li><b>A</b>ction oriented,</li>
                          <li><b>R</b>easonable, and</li>
                          <li><b>T</b>ime oriented.</li>
                        </ul>
                      </li>
                  </ul>
                </li>
              </ul>
          </div>

<!--SECTION 2.3-->
      <ion-button fill="outline" expand="block"(click)="hide3()"><b>2.3 Action Plan</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe3">
        <h3><b>2.3 Action Plan Comprised of Process Goals</b></h3>
        <ul>
          <li>
            <p>An action plan comprised of process goals provides clear “targets” upon which to focus your attention. It will set your targets for <i>what</i> you do, <i>how</i> you do it, and your <i>mental</i> and <i>emotional state</i> while performing each task.</p>
          </li>
        </ul>
      </div>

<!--SECTION 2.4-->
      <ion-button fill="outline" expand="block"(click)="hide4()"><b>2.4 What You Do (Action)</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe4">
        <h3><b>2.4 What You Do (Action)</b></h3>
        <ul>
          <li>
            <p>Process goals that address “what you do” are the stepwise sequences of actions of a
              procedure. A single procedure may be comprised of a number of steps or phases, with each step having actions that must be mastered for successful performance.</p>
          </li>
        </ul>
  
        <p>Here are the stepwise actions required to perform the FLS suturing task:</p>
  
        <h5><b>FLS-Suturing Task Nodal Points</b></h5>
  
        <ol>
          <li>
            <b>Introduce suture to operative field</b>
  
            <ol>
              <li>Using instrument in non-dominant (ND) hand, grab suture about 1 cm above the needle</li>
              <li>Insert the instrument with suture through the corresponding trocar</li>
            </ol>
          </li>
  
          <li>
            <b>Grab the needle in operative field</b>
  
            <ol>
              <li>
                <p>
                  Find your instrument on the monitor and rest the needle on the pad or tissue but keep your instrument tip off the pad
                </p>
              </li>
              
              <li>
                <p>
                  With tip of other instrument (driver) in dominant (D) hand, grab needle slightly behind center of its curve (closer to suture end of needle) and release ND hand instrument
                </p>
              </li>
  
              <li>
                <p>
                  Needle should be gasped perpendicular to the driver
                </p>
              </li>
  
              <li>
                <p>
                  Use light reflection on needle to verify when needle is held perpendicular
                </p>
              </li>
            </ol>
          </li>
  
          <li>
            <b>Take the first bite at first target</b>
  
            <ol>
              <li>
                <p>Grab penrose/ tissue with ND hand to expose the first target (black dot) facing your needle</p>
              </li>
  
              <li>
                <p>Take bite through target with needle using D hand in pronated (palm down) position</p>
              </li>
  
              <li>
                <p>When needle is partially through the tissue, grasp the tip of the needle with the ND hand</p>
              </li>
  
              <li>
                <p>Release dominant hand, pull needle partially through tissue with ND hand so you can grab it again at the exit site with D hand in supinated fashion</p>
              </li>
  
              <li>
                <p>Release needle with ND hand and pull it completely through the tissue with D hand by arcing needle through target in order not to injure it (do not pull it straight out)</p>
              </li>
            </ol>
          </li>
  
          <li>
            <b>Take second bite at target</b>
  
            <ol>
              <li>
                <p>Grab the needle slightly behind center of curve (closer to suture end of needle) with tip of instrument (driver) in D hand; if not, please do now</p>
              </li>
  
              <li>
                <p>As stated previously, the needle should be perpendicular to driver. If needed, adjust your needle on tissue or pad using light reflection to verify when needle is perpendicular</p>
              </li>
  
              <li>
                <p>Grab tissue with ND hand to expose the second target</p>
              </li>
  
              <li>
                <p>Take bite through second target with needle using D hand in pronate (palm down)
                  position</p>
              </li>
  
              <li>
                <p>Supinate D hand to arc needle through target</p>
              </li>
  
              <li>
                <p>When needle tip is through the tissue, grasp it with the ND hand</p>
              </li>
  
              <li>
                <p>Release the D hand, pronate it and grab the needle on the other side of the tissue next to the ND hand</p>
              </li>
  
              <li>
                <p>Release the ND hand and pull the needle by supinating the D hand through the second target by arcing the needle through the tissue</p>
              </li>
            </ol>
          </li>
  
          <li>
            <b>Create your knots</b>
  
            <ol>
              <li>
                <p>Pull suture through and adjust tail</p>
  
                <ol>
                  <li>
                    <p>Use the ND hand to create a pivot point as you are pulling the suture through
                      the tissue away from the target with the D hand to avoid injury to the target tissue</p>
                  </li>
  
                  <li>
                    <p>Adjust your tail to approximately match the length of the needle</p>
                  </li>
                </ol>
              </li>
              <li><p>Create surgeon's knot.</p></li>
              <ion-label>
                <b>Exercise 1:</b> Write down the stepwise actions required to create a surgeon’s knot.
                <ion-textarea [(ngModel)]="exTwo_Zero" style="border:solid 1px rgb(168, 168, 168); height:100px; border-radius: 12px;"></ion-textarea>
<!--                 <ion-item> Enter Date:  
                    <ion-datetime [(ngModel)]="date" displayFormat="MMMM/DD/YYYY" pickerFormat="MMM/DD/YYYY" yearValues="2019,2020,2021,2022,2023"></ion-datetime>
                </ion-item> -->
               <ion-button shape="round" (click)="submitEx()">Post</ion-button>
              </ion-label>
                <li>
                <p>Create second knot</p>
  
                <ol>
                  <li>
                    <p>Release both instruments and grab the suture near or at needle with the ND hand</p>
                  </li>
  
                  <li>
                    <p>Create a 2nd knot by repeating above described procedure, making only one loop this time around the driver in the ND</p>
                  </li>
                </ol>
              </li>
  
              <li>
                <p>Create final knot</p>
  
                <ol>
                  <li>
                    <p>Release both instruments and grad the suture near or at the needle with D hand and create the final knot as before</p>
                  </li>
                </ol>
              </li>
  
              <li>
                <p>Remember to pull your knots tightly when approximating them so no air knots get created</p>
              </li>
            </ol>
          </li>
        </ol>
      </div>

<!--SECTION 2.5-->
      <ion-button fill="outline" expand="block"(click)="hide5()"><b>2.5 How You Do It (Manner)</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe5">
        <h3><b>2.5 How You Do It (Manner)</b></h3>
  
        <ul>
          <li>
            <p>Process goals that address how you do things provide targets for the <i>manner</i> in which you carry out actions.</p>
          </li>
  
          <li>
            <p>Process goals addressing the manner in which you act can include your actions while
              interacting with other members of the treatment team, and provide clear “targets” for how you want to communicate with others, and how you alert the team to concerns.</p>
          </li>
        </ul>
      </div>

<!--SECTION 2.6-->
      <ion-button fill="outline" expand="block"(click)="hide6()"><b>2.6 How You Feel</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe6">
        <h3><b>2.6 How You <i>Feel</i> While Performing (Emotions)</b></h3>
        <ul>
          <li>
            <p>A person can know what to do, and the manner in which to do it; yet still struggle with performance if his or her emotions are not optimal for the task at hand. Every person has an Ideal Performance State, sometimes referred to as their IPS, which is their unique combination of emotions when they perform at their best.</p>
          </li>
  
          <li>
            <p>In performance situations such as surgery, where a person is liable to encounter unexpected challenges beyond one’s control, it becomes increasingly important to optimize those performance factors that you can control. You may not be able to control events; but you can control how you respond to those events.</p>
          </li>
        </ul>
      </div>

<!--EXERCISES-->
      <ion-button fill="outline" expand="block"(click)="hide7()"><b>Module 2 Exercises</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe7">
        <h5><b>Exercise: Determining your Ideal Performance State (IPS)</b></h5>
  
        <p>Focus on your surgical performance.</p>
  
        <p><b>Step 1: Consider your BEST EVER and WORST EVER performances</b></p>
        <p>Concentrate on your own best ever and worst ever performance; do not compare yourself with
          others.</p>
        <br/>

<!--    <ion-label>
          <ion-item>    
            <ion-datetime [(ngModel)]="date" displayFormat="MMMM/DD/YYYY" pickerFormat="MMM/DD/YYYY" yearValues="2019,2020,2021,2022,2023"></ion-datetime>
          </ion-item>
          <b>Exercise 1:</b> Write down the stepwise actions required to create a surgeon’s knot.
          <ion-textarea [(ngModel)]="exOne" style="border:solid 1px rgb(168, 168, 168); height:100px; border-radius: 12px;"></ion-textarea>
          <ion-button shape="round" (click)="submitEx()">Post</ion-button>
        </ion-label> -->

        <!--EX 1-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 1:</b>
          <p>Describe the date, place and results of your BEST EVER surgical performance:</p>
          <ion-textarea [(ngModel)]="exTwo_One" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <!--EX 2-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 2:</b>
          <p>Provide any important details related to this event and your performance during it (e.g., focus and emotional state before/during, “What was the difference that made the difference?”, etc.)</p>
          <ion-textarea [(ngModel)]="exTwo_Two" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <!--EX 3-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 3:</b>
          <p>How did you prepare for this performance mentally?</p>
          <ion-textarea [(ngModel)]="exTwo_Three" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <!--EX 4-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 4:</b>
          <p>How did you prepare physically (e.g., nutrition, rest, practice)?</p>
          <ion-textarea [(ngModel)]="exTwo_Four" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <!--EX 5-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 5:</b>
          <p>Describe the date, place and results of your WORST EVER performance:</p>
          <ion-textarea [(ngModel)]="exTwo_Five" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>
  
        <!--EX 6-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 6:</b>
          <p>Provide any important details related to this event and your performance during it (e.g., focus and emotional state before/during, “What was the difference that made the difference?”, etc.)</p>
          <ion-textarea [(ngModel)]="exTwo_Six" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <!--EX 7-->
        <div style="padding-bottom: 25px;">
          <b>Exercise 7:</b>
          <p>How did you prepare for this performance mentally?</p>
          <ion-textarea [(ngModel)]="exTwo_Seven" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <!--EX 8-->
        <div style="padding-bottom: 25px;"> 
        <b>Exercise 8:</b>
        <p>How did you prepare physically (e.g., nutrition, rest, practice)?</p>
        <ion-textarea [(ngModel)]="exTwo_Eight" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
        </div>

        <p><b>Step 2: Identify HELPFUL-Positive and HELPFUL-Negative emotions.</b></p>
  
        <p>Go over the list of HELPFUL – positive (pleasant) emotions below and select up to five words from the list that describe the emotions you felt before your BEST EVER performance. Each line in the list consists of several synonyms; you may select only one word on the same line. Circle the words that you select. If you don’t find a word describing an emotion that is important to you, you may add your own word at the end of the list.</p> 
          
        <p>Follow the same procedure for HELPFUL – negative (unpleasant) emotions.</p>
  
        <p><b>HELPFUL-POSITIVE EMOTIONS (P+):</b></p>
  
        <p>active, dynamic, energetic, vigorous <br/> relaxed, comfortable, easy <br/> calm, peaceful, unhurried, quiet <br/> cheerful, merry, happy <br/> confident, certain, sure <br/>delighted, overjoyed, exhilarated <br/>determined, set, settled, resolute <br/> excited, thrilled <br/>brave, bold, daring, dashing <br/> glad, pleased satisfied, contented <br/> inspired, motivated, stimulated <br/> lighthearted, carefree <br/> nice, pleasant, agreeable <br/>quick, rapid, fast, alert</p>
        <!--POSITIVE EMOTION -->
        <div style="padding-bottom: 25px;">
          <p><b>Your own emotion: </b></p> 
          <ion-input [(ngModel)]="exTwo_Positive" style="border:solid 1px rgb(90, 90, 90); border-radius: 12px;"></ion-input>
        </div>

        <p><b>HELPFUL-NEGATIVE EMOTIONS (N+)</b></p>
        <p>afraid, fearful, scared, panicky <br/> angry, aggressive, furious, violent <br/> annoyed, irritated, distressed <br/> anxious, apprehensive, worried <br/> concerned, alarmed, disturbed, dissatisfied <br/> discouraged, dispirited, depressed <br/> doubtful, uncertain, indecisive, irresolute <br/> helpless, unsafe, insecure <br/>inactive, sluggish, lazy <br/> intense, fierce <br/> jittery, nervous, uneasy, restless <br/> sorry, unhappy, regretful, sad, cheerless <br/> tense, strained, tight, rigid <br/> tired, weary, exhausted, worn out</p>
        
        <!--NEGATIVE EMOTION-->
        <div style="padding-bottom: 25px;">
          <p><b>Your own emotion: </b></p> 
          <ion-input [(ngModel)]="exTwo_Negative" style="border:solid 1px rgb(90, 90, 90); border-radius: 12px;"></ion-input>
        </div>

        <!--EX 9-->
        <div style="padding-bottom: 25px;"> 
          <b>Exercise 9: </b> 
          <p>Write down your action plan for the FLS suturing task. Make sure to personalize your action plan and include specific details that will be relevant to your individual performance (e.g., the language to describe the procedure, including cues on what to focus your attention on, etc.).</p>
          <ion-textarea [(ngModel)]="exTwo_Nine" style="border:solid 1px rgb(90, 90, 90); border-radius: 12px; height:500px;"></ion-textarea>
        </div>

        <!--EX 10-->
        <div style="padding-bottom: 25px;"> 
          <b>Exercise 10:</b>
          <p> Develop a <b>SMART</b> process goal for the FLS suturing task. Please update and increase the difficulty of your goal after you achieve it.</p>
          <ion-textarea [(ngModel)]="exTwo_Ten" style="border:solid 1px rgb(90, 90, 90); border-radius: 12px; height:500px;"></ion-textarea>
        </div>
        <ion-button shape="round" expand="block" (click)="submitEx()">Submit Exercises</ion-button>
      
    </div>
  </ion-content>
  