<ion-header>
    <ion-toolbar>
      <ion-title>Module 4: Attention/Thought Management</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/modules-list"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <div class="ion-text-wrap">
        <h2 class="ion-text-center">Attention/Thought Management</h2>
        <div class="ion-text-center">
          <br/><br/>
          <iframe src="https://www.youtube.com/embed/prboHUpK6gs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br/>
          <a href="https://www.youtube.com/watch?v=prboHUpK6gs">Module 4 Video</a>
          <br/><br/>
        </div>
<!--SECTION 4.1-->
      <ion-button fill="outline" expand="block"(click)="hide1()"><b> 4.1 Stress Management</b>
        <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
      </ion-button>
      <div *ngIf="hideMe1">
        <h3>4.1 Stress Management</h3>
        <ul>
          <li>
            <p>
              Our perception and interpretation of events determines whether or not we experience a situation as stressful.
            </p>
          </li>
          <li>
            <p>
              As our brains receive neural transmissions (i.e., input) from our various senses, there are three primary processes that occur within nanoseconds that influence each other: the bottom-up brain rapidly reacts automatically to the experience and triggers an emotional reaction; the top-down brain cognitively assesses the situation and assesses one’s ability to respond to that situation.                
            </p>
          </li>
          <img src="../../../assets/module_pictures/4.1-1.png" />
          <li>
            <p>
              The processes on the left-hand side of the diagram are those of the top-down brain; those on the right-hand side involve the bottom-up brain.              
            </p>
          </li>
          <li>
            <p>
              The emotional reaction of the bottom-up brain can be managed through rapid relaxation (i.e., the techniques covered in the last module), whereas the processes of the top-down brain – assessment of the situation and one’s ability to handle it – can be managed through self-talk (i.e., covered in this module.            
            </p>
          </li>
          <li>
            <p>
              <b>Attention Management: A.I.R.</b>           
            </p>
          </li>
          <li>
            <p>
              <b>Reiterating key concepts:</b> The key to success in any performance situation is knowing what is essential, keeping your attention on the essential and ignoring distractions. Thinking can be one of the major distractions 
              to optimal performance.           
            </p>
          </li>
          <li>
            <p>
             If your attention is “off target”, the most efficient technique for getting back on target is <b>“AIR”</b>. 
                     
            </p>
          </li>
          <ul>
             <li><b>A</b>- Aware that you’re off target </li>  
             <li><b>I</b>- Interrupt the pattern of thinking  </li> 
             <li><b>R</b>- Refocus your attention back on target  </li> 
          </ul>  
          <li>
            <p>
              <b>Increasing Awareness with Mindfulness</b>          
            </p>
          </li>
          <li>
            <p>
              <i>Mindfulness</i> is a bottom-up neurological sense of awareness, facilitated by paying attention in a sustained and particular way: purposefully, in the present moment, and non-judgmentally.       
            </p>
          </li>
          <li>
            <p>
             Mindfulness training can enhance performance by helping you fully immerse yourself in the task you’re performing, which prevents cognitive distraction from getting in the way. As we’ve discussed in this module already, thinking can be one of the most significant distractions to your performance.      
            </p>
          </li>
          <li>
            <p>
              Methods of mindfulness training:   
            </p>
          </li>
          <li><b>Mindfulness Bells</b></li>  
              <ul>
                <li>
                  Pick a few ordinary activities from your daily life that you can turn into “mindfulness bells”, which can act as reminders to stop and attend to the task you’re performing.  Do this by stopping yourself from thinking, and fully immerse yourself in the present moment.
                </li>
                <ul>
                  <li>
                    First two bites of any meal
                  </li>
                  <li>
                    First two sips of morning coffee
                  </li>
                  <li>
                    Washing dishes
                  </li>
                  <li>
                    Waiting at red lights 
                  </li>
                  <li>
                    Waking up (start day with mindfulness in your bed before you run through your “to do” list for the day)
                  </li>
                  <li>
                    Connect and scan your body (for any tension or physiological signs of stress)
                  </li>
                  <li>
                    Practice mindfulness of your breathing during centered breathing exercises
                  </li>
                </ul>  
              </ul> 
        </ul>
    <hr class="blue-border" />
      <p style="color:#006298">
        <i>
          <b>Reflection:</b> Do you already engage in mindfulness? In what ways do you already practice mindfulness? 
        </i>
      </p>
    <hr class="blue-border" />

    <ul>
      <li>
        <b>Thought Management</b>
      </li>
      <br>
      <img src="../../../assets/module_pictures/4.1-2.png" />
      <br>
      <li>
        Optimal performance involves not only automation of fine-motor skills; it also involves the top-down neurology of thinking.
      </li>
      <li>
        Self-talk during the learning phase for technical skills guides the execution of physical actions until a routine is established that can help automate the behavior as a bottom-up process.
      </li>
      <li>
        Complex procedures, such as those in surgery, have specific points where cognitive mediation is necessary to determine the most appropriate course of action.   
      </li>
      <li>
        Cognitive mediation is required whenever an individual needs to redirect an impulsive reaction of bottom-up neurology, such as the physiological response to an emotional hijack.   
      </li>
      <hr class="blue-border" />
      <p style="color:#006298">
        <i>
          <b>Reflection:</b> What situations in surgery could prompt you to switch neurological processes from bottom-up neurology to active, cognitive effort?   
        </i>
      </p>
      <hr class="blue-border" />
      <li>
        Excellent performance also involves anticipation and preparation before a performance, plus debriefing and assessment after a performance.  
      </li>
      <li>
        The process goals for these situations involve thinking and assessment, just be certain that your thinking optimizes your performance. 
      </li>
      <li>
        <b>Focus on what you DO want to happen:</b> One common error with self-talk is thinking about what you don’t want to happen rather than focusing on what you DO want to happen. With your action plan it’s important to identify effective self-talk that directs your attention to precisely what you want to do as opposed to what you want to avoid.  
      </li>
      <img src="../../../assets/module_pictures/4.1-3.png" />
      <li>
        <b>Snap out of it!</b> If you find that you are starting to put yourself in a negative trance, the solution is simply:  WAKE UP!!! Whatever you’re doing, STOP it and do something different.  Back off; take a break; shift your attention; anything, but do not continue down the path. This is a great opportunity to use the A.I.R. refocusing technique with 
        a powerful interruption such as a trigger breath or a physical interruption such as clapping your hands or physically changing your external environment.
      </li>
      <li>
        <b>Redirecting with Believable Counters:</b> Once you stop the negative trance, you need to direct your thoughts and attention to things you can control and actions that will optimize your performance.  This task is challenging because you become conditioned where one negative thought triggers another.  For each negative thought, you want to develop a believable counter that you can re-program as a response.  You cannot discount your feelings and fears with a simple positive statement. <b>It must be believable and realistic.</b>
      </li>
      <img src="../../../assets/module_pictures/4.1-4.png" />
      <li>
        <b>Reprogramming Tip:</b> In developing counters to negative thoughts, it’s critical for the new responses to become automated in the same fashion as foreign languages, and to tailor the counters to your own internal language (i.e., thinking in the foreign language).  
        This automated process is developed through repeated pairing and practice through visual recall and association, which facilitates an automated neurological process. Once this process becomes automated, you will be able to immediately counter negative thoughts 
        without cognitive mediation (i.e., like responding in the once foreign language without having to actively think of verb conjugation).
      </li>
    </ul>
  </div>
  <ion-button fill="outline" expand="block"(click)="hide2()"><b>Exercises</b>
    <ion-icon style=" font-size: 30px; padding-left:20px;" name="arrow-dropdown"></ion-icon>
  </ion-button>
  <div *ngIf="hideMe2">
    <p>
      <b>Exercise:</b> Creating believable counters to negative thoughts.  Write down negative thoughts you have experienced during surgical or FLS training performance (left column).  Then, write down a believable counter that you could make to redirect your attention back 
      to the task (right column). 
    </p>
      <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <b>Negative Thoughts:</b>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <b>Counter</b>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                Example: I have to be at the meeting in 30 minutes. I have to rush to get this lap chole finished before then! There’s no way I can do this in time!
              </div>
            </ion-col>
            <ion-col>
              <div>
                  Counter: Maybe, maybe not.  Freaking out isn’t going to help.  Take it one step at a time as smoothly and rapidly as possible and let’s see what happens.
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <b>Negative Thoughts</b>
                <ion-textarea [(ngModel)]="exFour_Negative" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
              </div>
            </ion-col>
            <ion-col>
                <div>
                  <b>Counter</b>
                  <ion-textarea [(ngModel)]="exFour_Counter" style="border:solid 1px rgb(90, 90, 90); height:100px; border-radius: 12px;"></ion-textarea>
                </div>
            </ion-col>
          </ion-row>
      </ion-grid>
      <ion-button shape="round" expand="block" (click)="submitExFour()">Submit Exercise</ion-button>
      <br>
      <img src="../../../assets/module_pictures/4.2-1.png" />
      <img src="../../../assets/module_pictures/4.2-2.png" />
  </div>    
</div> 
  
</ion-content>
  