<ion-header>
    <ion-toolbar>
      <ion-title>Module 7: Developing Routines</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <div class="ion-text-wrap">
        <h2 class="ion-text-center">Developing Routines</h2>
        <p>
          <i>
            “Focusing appropriately before, during and after the competition is one of the least practiced
            but most important skills for high performance...” 
            <br>
            - Terry Orlick, Psyching for Sport
          </i>
        </p>
        <ul>
          <li>
            <p>
              A routine is a unique recipe for each individual that combines thoughts and self-suggestions
              to optimize the top-down brain; plus familiar actions, well-chosen movements, imagery, and
              automated patterns to optimize the bottom-up brain. The goal is to achieve your Ideal
              Performance State for the immediate task at hand.
              
            </p>
          </li>
          <li>
            <p>
              By detailing your routine, you optimize your choices in advance when you are calm, relaxed
              and can fully consider all options. This typically makes for better choices, and reduces the
              decisions that you have to make immediately prior to and during performance. When you
              simplify and reduce demands, you reduce stress.
            </p>
          </li>
          <li>
            <p>
              The components of a routine set a clear “target” for a performer and eliminate distractions.
              Executing a clearly defined routine increases the consistency of high performance and
              strengthens a person’s confidence and sense of being prepared.   
            </p>
          </li>
        </ul>
  
        <h3>7.1 Developing Effective Routines</h3>
        <ul>
          <li>
            <p>
              Identify situations- As we have discussed throughout this series, you want to begin by having
              a clear "target." Start by identifying those predictable, anticipated situations within a
              procedure where you know that you will need to be shifting your focus and attention.
              <br>
              For most performers, there are also predictable transitions within a performance. An athlete
              can anticipate transitions between plays, following timeouts, and between periods of play.
              There are also predictable transitions during surgical procedures, such as: switching
              operating roles during the procedure (operating surgeon vs assistant), switching techniques
              (open resection of specimen during lap colectomy), completing one procedure and moving to
              another one (when multiple procedures are done on the same patient), returning after taking a
              break during a long procedure, and debriefing after the procedure, just to name a few.  
            </p>
          </li> 
          <li>
            <p>
              Clarify target for each situation- For each situation, you want to clarify your "target" for the
              transition.
            </p>
          </li> 
          <li>
            <p>
              What is your Ideal Performance State that you want to achieve after making the transition?
            </p> 
          </li> 
          <li>
            <p>
              What is your ideal energy level as you begin the new phase of performance?
            </p> 
          </li>
          <li>
            <p>
              What is your ideal energy level as you begin the new phase of performance?
            </p> 
          </li>    
          <li>
            <p>
              What is the most ergonomically sound position you should have during this procedure? (How
              do you want the patient positioned, monitor positioned, and table positioned?)
            </p> 
          </li>
          <li>
            <p>
              What are the initial actions you will take when you actually begin performing after the
              transition?         
            </p> 
          </li>
          <li>
            <p>
              Clarify strategy for achieving your target- Now clarify your strategy for achieving your target
              for each situation that you have identified. Focus on things that are under your control, such
              as actions, suggestions, images, and aspects of the environment that you can adjust.         
            </p> 
          </li>    
        </ul>
      

        <ion-thumbnail slot="start">
            <ion-img [src]="assets/icon/favicon.png"></ion-img>
        </ion-thumbnail>
      </div>
  
  
  </ion-content>
  