<ion-header>
  <ion-toolbar>
    <ion-title>User Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <div id="profile-info" *ngIf="username">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="user-image">
              <ion-icon style="font-size: 94px;" name="contact"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <p>{{ username }}</p>
            <!-- <ion-button shape="round" color="primary" routerLink="/edit-profile">Edit Profile</ion-button> -->
            <ion-button fill="solid" expand="block" (click)="logout()">Logout</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>

</ion-content>

<ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/modules-list" >
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/user-account">
      <ion-icon name="book"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/profile-page">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
