<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon size="undefined" name="notifications" style="padding-right: 10px;"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
 <!--  <ion-button routerLink="/login">Login</ion-button>
  <ion-button routerLink="/create-account">Signup</ion-button> -->
  
 <div id="images">
    <div class="image" *ngFor="let post of ((userPosts | async)?.posts)">
      <ion-card (click)="goTo(post)">
            <p>{{post}}</p>
      </ion-card>
    </div>
  </div>



</ion-content>

<!-- <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/modules-list" >
      <ion-icon name="arrow-dropright"></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/project-list">
      <ion-icon name="book"></ion-icon>
      <ion-label>Log</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/user-account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 -->