<ion-header>
  <ion-toolbar>
    <ion-title>View Logs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
        <div class="image" *ngFor="let post of posts | async">
          <ion-card >
              <ion-card-header>
                <ion-card-subtitle>
                    {{ post.author }}
                </ion-card-subtitle>
                <ion-card-title>
                {{ post.date | date: "MMMM dd yyyy" }}
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-card-subtitle>
                  <b>Skill Used</b>
                </ion-card-subtitle>
                <p>
                    {{ post.desc }}
                </p>
                <ion-card-subtitle>
                  <b>Description</b>
                </ion-card-subtitle>
                <p>
                {{ post.desc }}
                </p>
                <ion-card-subtitle>
                  <b>Effects:</b>
                </ion-card-subtitle>
                <p>
                    {{ post.effect }}
                </p>
              </ion-card-content>
          </ion-card>
        </div>

  </ion-content>
