<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logs
    </ion-title>
    <ion-button slot="end" routerLink="/project" expand="full" fill="none" >
        <ion-icon size="undefined" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-fab vertical="bottom" horizontial="end" slot="fixed">
    <ion-fab-button routerLink="/project">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-card *ngFor="let project of projects" routerLink="/project-details/{{project.id}}" color="light-tint">
    <ion-card-header>
        <ion-card-subtitle >
            <ion-icon name="calendar" style="font-size: 1.5em;"></ion-icon>
            {{project.date | date: "MMMM dd "}}
        </ion-card-subtitle>
      </ion-card-header>
          
      <ion-card-content class="ion-padding" > 
         <div style="padding-left: 10px;">
            <h1>{{project.skill_used}}</h1>
            
            {{project.description}}
            <br>
        </div>
        <div style="padding:10px;">
          <ion-icon name="alarm"></ion-icon>
          {{project.time | date: "hh:mm a"}}
          <br>
          <ion-icon name="pin"></ion-icon>
          {{project.location}}
        </div>
      </ion-card-content>  
  </ion-card>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button routerLink="/modules-list" >
    <ion-icon name="arrow-dropright"></ion-icon>
    <ion-label>Modules</ion-label>
  </ion-tab-button>

<ion-tab-button routerLink="/project-list">
  <ion-icon name="book"></ion-icon>
  <ion-label>Log</ion-label>
</ion-tab-button>

  <ion-tab-button routerLink="/user-account">
    <ion-icon name="person"></ion-icon>
    <ion-label>Account</ion-label>
  </ion-tab-button>
</ion-tab-bar>



  
 
