<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/user-account"></ion-back-button>
      </ion-buttons>
    <ion-title>Create a New Log</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
  
    <ion-card-content>
      <ion-item>    
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime [(ngModel)]="date" displayFormat="MMMM/DD/YYYY" pickerFormat="MMM/DD/YYYY" yearValues="2019,2020,2021,2022,2023"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Skill Used</ion-label>
        <ion-input [(ngModel)]="skillUsed"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea [(ngModel)]="desc"></ion-textarea>
      </ion-item>  
      <ion-item>
        <ion-label position="stacked">
            Effects of Using the Skill
        </ion-label>
        <ion-textarea [(ngModel)]="effect"></ion-textarea>
      </ion-item>
      <br>
      <ion-button shape="round" (click)="createPost()">Post</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
